body {
    color: aqua;
    background-color: rgb(42, 42, 43);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: azure;
    display: flex;
    justify-content: center;
}

nav {
    color: antiquewhite;
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
}

button {
    background-color: rgb(43, 7, 250);
    border-radius: 40px;
    border-color: aqua;
    width: 400px;
    height: 80px;
}

footer {
    color: rgb(249, 249, 250);
    text-align: center;
}
